.spacer {
  display: block;
  height: 0px; /* Boşluğun yüksekliğini burada ayarlayabilirsiniz */
}

.full-width {
  width: 100% !important;
}

@media only screen and (max-width: 600px) {
  #butondivi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #butondivi p-button {
    margin: 0.25rem 0;
  }
}
@media only screen and (min-width: 600px) {
  #butondivi {
    display: flex;
    justify-content: center;
  }
  #dbButton {
    padding-left: 2rem;
  }
  #myorButton {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
