<br />
<div class="grid">
  <p-toast />
  <p-confirmDialog />
  <div class="col-12 xl:col-4">
    <form [formGroup]="stokKart" (ngSubmit)="confirm1($event)">
      <div class="card">
        <div class="field">
          <label class="text">Case Brand</label>
          <span class="spacer"></span>
          <p-dropdown
            class="full-width"
            [options]="caseBrands"
            formControlName="selectedBrands"
            placeholder="Select Brand"
            optionLabel="brandName"
            [filter]="true"
            filterBy="brandName"
            [showClear]="true"
            [checkmark]="true"
          />
        </div>
        <small
          #errorRef
          *ngIf="
            selectedBrands?.invalid &&
            (selectedBrands?.dirty || selectedBrands?.touched)
          "
          class="block p-error"
        >
          <div *ngIf="selectedBrands?.errors?.['required']">
            Brand is required
          </div>
        </small>
        <div class="field">
          <label class="text">Case Model Variations</label>
          <span class="spacer"></span>
          <p-multiSelect
            class="full-width"
            [options]="caseModelVariations"
            formControlName="selectedCaseModelVariations"
            optionLabel="modelVariation"
            placeholder="Select Variations"
            [filter]="true"
            filterBy="modelVariation"
            [showClear]="true"
            display="chip"
          />
        </div>
        <small
          #errorRef
          *ngIf="
            selectedCaseModelVariations?.invalid &&
            (selectedCaseModelVariations?.dirty ||
              selectedCaseModelVariations?.touched)
          "
          class="block p-error"
        >
          <div *ngIf="selectedCaseModelVariations?.errors?.['required']">
            Variation is required
          </div>
        </small>
        <div class="field">
          <label class="file">Case Image</label>
          <input
            type="file"
            pInputText
            formControlName="CaseModelImage"
            (change)="onFileSelected($event)"
            class="w-full"
            name="CaseModelImage"
            accept="image/png, image/jpeg, image/jpg, image/webp"
          />
        </div>
        <small
          #errorRef
          *ngIf="
            CaseModelImage?.invalid &&
            (CaseModelImage?.dirty || CaseModelImage?.touched)
          "
          class="block p-error"
        >
          <div *ngIf="CaseModelImage?.errors?.['required']">
            Case Image is required
          </div>
        </small>
        <div class="field">
          <label class="text">Case Model Title</label>
          <input
            type="text"
            pInputText
            formControlName="CaseModelTitle"
            class="w-full"
            name="CaseModelTitle"
            placeholder="Magsafe"
          />
        </div>
        <small
          #errorRef
          *ngIf="
            CaseModelTitle?.invalid &&
            (CaseModelTitle?.dirty || CaseModelTitle?.touched)
          "
          class="block p-error"
        >
          <div *ngIf="CaseModelTitle?.errors?.['required']">
            Title is required
          </div>
        </small>
        <div class="field">
          <label class="text">Description</label>
          <input
            type="text"
            pInputText
            formControlName="Description"
            class="w-full"
            name="Description"
            placeholder="Kahve rengi kılıf"
          />
        </div>
        <small
          #errorRef
          *ngIf="
            Description?.invalid && (Description?.dirty || Description?.touched)
          "
          class="block p-error"
        >
          <div *ngIf="Description?.errors?.['required']">
            Description is required
          </div>
        </small>
        <div class="field">
          <label class="text">Barcode</label>
          <input
            type="text"
            pInputText
            formControlName="Barcode"
            class="w-full"
            name="Barcode"
            placeholder="84675689"
          />
        </div>
        <div class="field">
          <label class="text">Cost</label>
          <input
            type="text"
            pInputText
            formControlName="Cost"
            class="w-full"
            name="Cost"
            placeholder="2000"
          />
        </div>
        <div class="field">
          <label class="text">Quantity</label>
          <input
            type="text"
            pInputText
            formControlName="Quantity"
            class="w-full"
            name="Quantity"
            placeholder="10000"
          />
        </div>
        <div class="field">
          <label class="text">Sale Price 1</label>
          <input
            type="text"
            pInputText
            formControlName="SatisFiyat1"
            class="w-full"
            name="SatisFiyat1"
            placeholder="0.9"
          />
        </div>
        <div class="field">
          <label class="text">Sale Price 2</label>
          <input
            type="text"
            pInputText
            formControlName="SatisFiyat2"
            class="w-full"
            name="SatisFiyat2"
            placeholder="0.7"
          />
        </div>
        <div class="field">
          <label class="text">Sale Price 3</label>
          <input
            type="text"
            pInputText
            formControlName="SatisFiyat3"
            class="w-full"
            name="SatisFiyat3"
            placeholder="0.5"
          />
        </div>
        <div class="field">
          <label class="text">Sale Price 4</label>
          <input
            type="text"
            pInputText
            formControlName="SatisFiyat4"
            class="w-full"
            name="SatisFiyat4"
            placeholder="0.3"
          />
        </div>
        <p-button
          label="Generate"
          [raised]="true"
          styleClass="w-full"
          type="submit"
        ></p-button>
      </div>
    </form>
  </div>
  <div class="col-12 xl:col-8">
    <div class="card">
      <p-table
        #dt2
        [value]="phone"
        [(selection)]="selectedPhone"
        dataKey="id"
        [rows]="18"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[18, 30, 40]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'brand', 'stockCode']"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 1%">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 25%">Brand Model Name</th>
            <th style="width: 25%">Brand Name</th>
            <th style="width: 25%">SKU</th>
          </tr>
          <tr>
            <th></th>
            <th>
              <p-columnFilter
                type="text"
                field="name"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="brand"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="stockCode"
                matchMode="contains"
              ></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-phone>
          <tr>
            <td>
              <p-tableCheckbox [value]="phone"></p-tableCheckbox>
            </td>
            <td>{{ phone.name }}</td>
            <td>{{ phone.brand }}</td>
            <td>{{ phone.stockCode }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">No products found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="col-12 xl:col-12">
    <div class="card">
      <p-table
        #dt2
        [value]="stockKarts"
        [(selection)]="selectedStockKarts"
        dataKey="id"
        [rows]="15"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[15, 30, 50]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
          'stockCode',
          'myorStockName',
          'ikasStockName',
          'title',
          'description',
          'barcode',
          'cost',
          'quantity',
          'satisFiyat1',
          'satisFiyat2',
          'satisFiyat3'
        ]"
        [tableStyle]="{ 'min-width': '75rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 1%">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="width: 18%">Stock Code</th>
            <th style="width: 20%">Myor Stock Name</th>
            <th style="width: 20%">Ikas Stock Name</th>
            <th style="width: 8%">Title</th>
            <th style="width: 8%">Description</th>
            <th style="width: 7%">Barcode</th>
            <th style="width: 3%">Cost</th>
            <th style="width: 3%">Quantity</th>
            <th style="width: 3%">Sale Price 1</th>
            <th style="width: 3%">Sale Price 2</th>
            <th style="width: 3%">Sale Price 3</th>
            <th style="width: 3%">Sale Price 4</th>
          </tr>
          <tr>
            <th></th>
            <th>
              <p-columnFilter
                type="text"
                field="stockCode"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="myorStockName"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="ikasStockName"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="title"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="description"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="barcode"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="cost"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="quantity"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="satisFiyat1"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="satisFiyat2"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="satisFiyat3"
                matchMode="contains"
              ></p-columnFilter>
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="satisFiyat4"
                matchMode="contains"
              ></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stockKarts>
          <tr>
            <td>
              <p-tableCheckbox [value]="stockKarts"></p-tableCheckbox>
            </td>
            <td>{{ stockKarts.stockCode }}</td>
            <td>{{ stockKarts.myorStockName }}</td>
            <td>{{ stockKarts.ikasStockName }}</td>
            <td>{{ stockKarts.title }}</td>
            <td>{{ stockKarts.description | truncate : 15 }}</td>
            <td>{{ stockKarts.barcode }}</td>
            <td>{{ stockKarts.cost }}</td>
            <td>{{ stockKarts.quantity }}</td>
            <td>{{ stockKarts.satisFiyat1 }}</td>
            <td>{{ stockKarts.satisFiyat2 }}</td>
            <td>{{ stockKarts.satisFiyat3 }}</td>
            <td>{{ stockKarts.satisFiyat4 }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="12">No stock carts found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="card" id="butondivi">
      <p-button
        id="editButton"
        label="Edit Table"
        severity="danger"
        (click)="confirm3($event)"
      >
        <ng-template pTemplate="icon">
          <img src="../../../assets/icons/tick.ico" />
        </ng-template>
      </p-button>
      <p-button
        id="dbButton"
        label="Save database"
        severity="help"
        (click)="confirm2($event)"
      >
        <ng-template pTemplate="icon">
          <img src="../../../assets/icons/database.ico" />
        </ng-template>
      </p-button>
      <p-button
        id="myorButton"
        label="Download For Myor"
        severity="success"
        (onClick)="downloadMyor()"
      >
        <ng-template pTemplate="icon">
          <img src="../../../assets/icons/myor.ico" />
        </ng-template>
      </p-button>
      <p-button
        id="ikasButton"
        label="Download For İkas"
        severity="warning"
        (onClick)="downloadIkas()"
      >
        <ng-template pTemplate="icon">
          <img src="../../../assets/icons/ikas.ico" />
        </ng-template>
      </p-button>
    </div>
  </div>
</div>
