<br />
<p-card header="Anlık Veriler" [style]="{ background: '#353e4b', flex: '1'  }">
  <div style="display: flex; flex-wrap: wrap;">
    <div class="card-container" style="flex-grow: 1;" >
      <p-card [style]="{ background: '#353e4b' }">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium">Toplam Ciro</span>
              <div class="text-900 font-medium text-xl">
                Bugün = {{ gunlukToplamCiro.TOTAL }}
              </div>
              Dün = {{ dunToplamCiro.TOTAL }}
            </div>
            <div
              class="flex align-items-center justify-content-center bg-cyan-100 border-round"
              [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
            >
              <i class="pi pi-inbox text-cyan-500 text-xl"></i>
            </div>
          </div>
          <span class="text-green-500 font-medium">Gün </span>
          <span class="text-500">başlangıcından itibaren.</span>
        </div>
      </p-card>
    </div>

    <div class="card-container" style="flex-grow: 1;">
      <p-card [style]="{ background: '#353e4b' }">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium">Toplam Sipariş </span>
              <div class="text-900 font-medium text-xl">
                Bugün = {{ gunlukToplamSiparisSayisi }}
              </div>
              Dün = {{ dunToplamSiparisSayisi }}
            </div>
            <div
              class="flex align-items-center justify-content-center bg-blue-100 border-round"
              [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
            >
              <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
            </div>
          </div>
          <span class="text-green-500 font-medium">Gün </span>
          <span class="text-500">başlangıcından itibaren.</span>
        </div>
      </p-card>
    </div>

    <div class="card-container" style="flex-grow: 1;">
      <p-card [style]="{ background: '#353e4b' }">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium"
                >Toplam Sipariş Edilen Ürün</span
              >
              <div class="text-900 font-medium text-xl">
                Bugün = {{ gunlukToplamSatisSayisi }}
              </div>
              Dün = {{ dunToplamSatisSayisi }}
            </div>
            <div
              class="flex align-items-center justify-content-center bg-orange-100 border-round"
              [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
            >
              <i class="pi pi-map-marker text-orange-500 text-xl"></i>
            </div>
          </div>
          <span class="text-green-500 font-medium">Gün </span>
          <span class="text-500">başlangıcından itibaren.</span>
        </div>
      </p-card>
    </div>

    <div class="card-container" style="flex-grow: 1;">
      <p-card [style]="{ background: '#353e4b' }">
        <div class="card mb-0">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium"
                >Günün En Çok Satan Ürünü</span
              >
              <div class="text-900 font-medium text-xl">
                {{ gununEnCokSatanUrunu.StokKodu }}
              </div>
            </div>
            <div
              class="flex align-items-center justify-content-center bg-cyan-100 border-round"
              [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
            >
              <i class="pi pi-inbox text-cyan-500 text-xl"></i>
            </div>
          </div>
          <span class="text-green-500 font-medium"
            >{{ gununEnCokSatanUrunu.TOTAL }}
          </span>
          <span class="text-500"
            >adet satıldı. Gün başlangıcından itibaren.</span
          >
        </div>
      </p-card>
    </div>
  </div>
</p-card>
<br />
<p-card [style]="{ background: '#353e4b', flex: '1' }">
  <div class="p-grid" style="display: flex; flex-wrap: wrap;">
    <div class="p-col-12 p-md-6" style="flex-grow: 1;">
      <p-card header="Haftanın En Çok Satan Ürünleri">
        <span class="text-500 font-medium">Son 7 günlük veri. </span>
        <p-table
          [columns]="cols"
          [value]="haftaninEnCokSatanUrunleri"
          [responsive]="true"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
    <div class="p-col-12 p-md-6" style="flex-grow: 1;">
      <p-chart
        type="line"
        [data]="tablo"
        [options]="options"
        style="
          height: 100%;
          width: 100%;
          background: #1f2937;
          border-style: hidden;
        "
      ></p-chart>
    </div>
  </div>
</p-card>



