<form [formGroup]="stokKart" (ngSubmit)="generateStockKart()">
  <div id="stokForm" class="card container">
    <p-card header="Stok Generator">
      <div class="field">
        <label class="text">Case Brand</label>
        <input
          type="text"
          pInputText
          formControlName="CaseBrand"
          class="w-full"
          name="CaseBrand"
          placeholder="Berry"
        />
      </div>
      <small
        #errorRef
        *ngIf="CaseBrand?.invalid && (CaseBrand?.dirty || CaseBrand?.touched)"
        class="block p-error"
      >
        <div *ngIf="CaseBrand?.errors?.['required']">
          Case Brand is required
        </div>
      </small>
      <div class="field">
        <label class="file">Case Image</label>
        <input
          type="file"
          pInputText
          formControlName="CaseModelImage"
          (change)="onFileSelected($event)"
          class="w-full"
          name="CaseModelImage"
        />
      </div>
      <small
        #errorRef
        *ngIf="
          CaseModelImage?.invalid &&
          (CaseModelImage?.dirty || CaseModelImage?.touched)
        "
        class="block p-error"
      >
        <div *ngIf="CaseModelImage?.errors?.['required']">
          Case Image is required
        </div>
      </small>
      <div class="field">
        <label class="text">Number of Variations</label>
        <input
          type="number"
          pInputText
          formControlName="NumberOfVariations"
          class="w-full"
          name="NumberOfVariations"
          min="1"
        />
      </div>
      <div
        *ngFor="let variation of variationsArray.controls; let i = index"
        class="field"
      >
        <label class="text">Case Model Variation {{ i + 1 }}</label>
        <input
          type="text"
          pInputText
          [formControlName]="i"
          class="w-full"
          [placeholder]="'Variation ' + (i + 1)"
        />
        <small
          #errorRef
          *ngIf="
            stokKart.get(i.toString())?.invalid &&
            (stokKart.get(i.toString())?.dirty ||
              stokKart.get(i.toString())?.touched)
          "
          class="block p-error"
        >
          <div *ngIf="stokKart.get(i.toString())?.errors?.['required']">
            Variation is required
          </div>
        </small>
      </div>
      <div class="field">
        <label class="text">Case Model Title</label>
        <input
          type="text"
          pInputText
          formControlName="CaseModelTitle"
          class="w-full"
          name="CaseModelTitle"
          placeholder="Magsafe"
        />
      </div>
      <small
        #errorRef
        *ngIf="
          CaseModelTitle?.invalid &&
          (CaseModelTitle?.dirty || CaseModelTitle?.touched)
        "
        class="block p-error"
      >
        <div *ngIf="CaseModelTitle?.errors?.['required']">
          Case Model Title is required
        </div>
      </small>
      <div class="field">
        <label class="text">Description</label>
        <input
          type="text"
          pInputText
          formControlName="Description"
          class="w-full"
          name="Description"
          placeholder="Kahve rengi kılıf"
        />
      </div>
      <div class="field">
        <label class="text">Barcode</label>
        <input
          type="text"
          pInputText
          formControlName="Barcode"
          class="w-full"
          name="Barcode"
          placeholder="84675689"
        />
      </div>
      <br />
      <p-button
        label="Generate Stok Kart"
        [raised]="true"
        styleClass="w-full"
        type="submit"
      ></p-button>
    </p-card>
  </div>
  <div id="productTable" class="card container">
    <p-table
      #dt2
      [value]="products"
      [(selection)]="selectedProducts"
      dataKey="id"
      [rows]="14"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[14, 20, 25]"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="[
        'PhoneBrandModelName',
        'PhoneBrandName',
        'PhoneBrandModelStockCode'
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width: 36%">Brand Model Name</th>
          <th style="width: 32%">Brand Name</th>
          <th style="width: 32%">SKU</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <p-columnFilter
              type="text"
              field="PhoneBrandModelName"
            ></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="PhoneBrandName"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="PhoneBrandModelStockCode"
            ></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-products>
        <tr>
          <td>
            <p-tableCheckbox [value]="products"></p-tableCheckbox>
          </td>
          <td>{{ products.PhoneBrandModelName }}</td>
          <td>{{ products.PhoneBrandName }}</td>
          <td>{{ products.PhoneBrandModelStockCode }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No products found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>
<div id="stockKartTable" class="card container">
  <p-table
    #dt2
    [value]="stockKarts"
    [(selection)]="selectedStockKarts"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'CaseBrand',
      'CaseModelVariations',
      'CaseModelTitle',
      'ProductIds',
      'Description',
      'Barcode'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width: 21%">Stock Code</th>
        <th style="width: 15%">Case Brand Name</th>
        <th style="width: 17%">Case Model Variations</th>
        <th style="width: 17%">Case Model Title</th>
        <th style="width: 15%">Description</th>
        <th style="width: 15%">Barcode</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-columnFilter type="text" field="CaseBrand"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="CaseModelVariations"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="CaseModelTitle"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="ProductIds"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="Description"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="Barcode"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stockKarts>
      <tr>
        <td>
          <p-tableCheckbox [value]="stockKarts"></p-tableCheckbox>
        </td>
        <td>{{ stockKarts.ProductIds }}</td>
        <td>{{ stockKarts.CaseBrand }}</td>
        <td>{{ stockKarts.CaseModelVariations }}</td>
        <td>{{ stockKarts.CaseModelTitle }}</td>
        <td>{{ stockKarts.Description }}</td>
        <td>{{ stockKarts.Barcode }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No Stock Karts found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div id="buttonsArea" class="card flex justify-content-center">
  <p-button
    id="editButton"
    label="Edit Table"
    severity="info"
    (onClick)="deleteStockKartsForIdsNotSent()"
  >
    <ng-template pTemplate="icon">
      <img src="../../../assets/tick.ico" />
    </ng-template>
  </p-button>
  <p-button id="myorButton" label="Download For Myor" severity="success">
    <ng-template pTemplate="icon">
      <img src="../../../assets/myor.ico" />
    </ng-template>
  </p-button>
  <p-button id="ikasButton" label="Download For İkas">
    <ng-template pTemplate="icon">
      <img src="../../../assets/ikas.ico" />
    </ng-template>
  </p-button>
</div>
