.container {
  width: 100%;
  height: 100%;
  display: block;
}

#stokForm {
  width: 25%; /* Formun genişliğini arttırdık */
  height: 100%;
  float: left;
  padding: 20px; /* Formun etrafına boşluk ekledik */
}

#productTable {
  width: 75%; /* Tablonun genişliğini arttırdık */
  height: 100%;
  float: right;
  padding: 20px; /* Tablonun etrafına boşluk ekledik */
}

#stockKartTable {
  width: 100%; /* Tablonun genişliğini 100% olarak ayarladık */
  height: 100%;
  clear: both; /* Tablo, form ve diğer tablonun altında olacak şekilde temizlendi */
  padding: 20px; /* Tablonun etrafına boşluk ekledik */
}

#buttonsArea {
  width: 100%; /* Butonların genişliğini 100% olarak ayarladık */
  height: 100%;
  clear: both; /* Butonlar, form ve diğer tablonun altında olacak şekilde temizlendi */
  padding-bottom: 20px; /* Butonların altına boşluk ekledik */
}

#myorButton {
  padding-left: 20px;
  padding-right: 20px;
}
