<div class="grid">
  <p-toast />
  <div class="col-12 xl:col-12">
    <div class="card">
      <p-carousel
        [value]="cases"
        [numVisible]="3"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template let-cases pTemplate="item">
          <div class="border-1 surface-border border-round m-2 p-3">
            <div class="mb-3">
              <div class="relative mx-auto">
                <p-image
                  [src]="'http://localhost:1303' + cases.caseImage"
                  [alt]="cases.caseBrand"
                  class="w-full border-round"
                  height="400rem"
                  width="100%"
                />
              </div>
            </div>
            <div class="mb-3 font-medium">
              {{ cases.caseBrand }}
            </div>
            <div class="justify-content-center align-items-center">
              <span>
                <p-button
                  icon="pi pi-spinner"
                  styleClass="ml-2 w-full"
                  label="Change Photo"
                  (onClick)="show(cases.caseImage)"
                />
              </span>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
