<br />
<div class="grid justify-content-center aling-items-center">
  <p-toast />
  <div class="card col-12 xl:col-8">
    <p-table
      [value]="stockKarts"
      dataKey="id"
      editMode="row"
      styleClass="p-datatable-striped"
      [tableStyle]="{ 'min-width': '1rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 12rem">
            <div class="flex justify-content-between align-items-center">
              Stock Code
              <p-columnFilter
                type="text"
                field="stockCode"
                display="menu"
                placeholder="Search by Stock Code"
              ></p-columnFilter>
            </div>
          </th>
          <th>Barcode</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-stockKarts
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="stockKarts">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="stockKarts.stockCode"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockKarts.stockCode }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="stockKarts.barcode"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ stockKarts.barcode }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <div class="flex align-items-center justify-content-center gap-2">
              <button
                *ngIf="!editing"
                pButton
                pRipple
                type="button"
                pInitEditableRow
                icon="pi pi-pencil"
                (click)="onRowEditInit(stockKarts)"
                class="p-button-rounded p-button-text"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                icon="pi pi-check"
                (click)="onRowEditSave(stockKarts)"
                class="p-button-rounded p-button-text p-button-success mr-2"
              ></button>
              <button
                *ngIf="editing"
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                icon="pi pi-times"
                (click)="onRowEditCancel(stockKarts, ri)"
                class="p-button-rounded p-button-text p-button-danger"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
