/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
html,
body {
  margin-top: 1%;
  font-size: small;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
